@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
body {
    background-color: var(--Light-gray);
}
.qr-card {
    text-align: center;
    border-radius: 20px;
    margin: 230px auto;
    width: 320px;
    height: 500px;
    background-color: var(--White);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.text {
    display: grid;
    gap: 18px;
    margin: 5px auto;
    width: 80%;
}
.qrcode {
    border-radius: 10px;
    margin: 5% auto;
    width: 90%;
}
.textB {
    color: var(--Dark-blue);
    font-size: 22px;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.textR {
    color: var(--Grayish-blue);
    font-size: 15px;
    font-family: "Outfit";
    font-weight: 400;
    font-style: normal;
}


.attribution {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}